@using stockTable.ViewModel.EquipmentViewModel;
@model CreateEqViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label>Тип оборудования</label>
        <input asp-for="Equipment.TypeEq" class="form-control" placeholder="Тип оборудования">
        <span asp-validation-for="Equipment.TypeEq" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Модел оборудования</label>
        <input asp-for="Equipment.Model" class="form-control" placeholder="Модел оборудования">
        <span asp-validation-for="Equipment.Model" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Статус</label>
        <select asp-for="Equipment.StatusId" class="form-control form-control-lg">
            @foreach(var item in Model.Statuses)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="Equipment.StatusId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label >Имя ПК</label>
        <input asp-for="Equipment.NamePC" class="form-control" placeholder="Имя ПК">
        <span asp-validation-for="Equipment.NamePC" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Операционная система</label>
        <input asp-for="Equipment.OCName" class="form-control" placeholder="Операционная система">
        <span asp-validation-for="Equipment.OCName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>IP адрес</label>
        <input asp-for="Equipment.IPAddress" class="form-control" placeholder="IP адрес">
        <span asp-validation-for="Equipment.IPAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Серийный/заводской номер</label>
        <input asp-for="Equipment.SerialNum" class="form-control" placeholder="Серийный/заводской номер">
        <span asp-validation-for="Equipment.SerialNum" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Дата поставки</label>
        <input asp-for="Equipment.dataE" class="form-control" placeholder="Дата поставки">
        <span asp-validation-for="Equipment.dataE" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Цена</label>
        <input asp-for="Equipment.Price" class="form-control" placeholder="Цена">
        <span asp-validation-for="Equipment.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Номер кабинета</label>
        <input asp-for="Document.CabinetNum" class="form-control" placeholder="Номер кабинета">
        <span asp-validation-for="Document.CabinetNum" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Инвентарный номер</label>
        <input asp-for="Equipment.InventoryNum" class="form-control" placeholder="Инвентарный номер" />
        <span asp-validation-for="Equipment.InventoryNum" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Номер контракта</label>
        <input asp-for="Document.NumContract" class="form-control" placeholder="Номер контракта">
        <span asp-validation-for="Document.NumContract" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Дата контракта</label>
        <input asp-for="Document.DataContract" class="form-control" placeholder="Дата контракта">
        <span asp-validation-for="Document.DataContract" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Ответственное лицо</label>
        <input asp-for="Document.Responsible" class="form-control" placeholder="На ком числится">
        <span asp-validation-for="Document.Responsible" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Наименование оборудования по бухгалтерии</label>
        <input asp-for="Document.NameForBookkeeping" class="form-control" placeholder="Наименование оборудования по бухгалтерии">
        <span asp-validation-for="Document.NameForBookkeeping" class="text-danger"></span>
    </div>

    <hr />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>