@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/stylesControlPanel.css" />
<h1 id="titleControlPanel">Панель Управления</h1>

<div id="controlAccount">
    <ul class="buttonControlAccount" >
        <li><button type="button" class="btn btn-primary">Просмотр всех аккаунтов</button></li>
        <li><button type="button" class="btn btn-primary">Создать новый аккаунт</button></li>

    </ul>
</div>